{% extends 'base.html.twig' %}

{% block title %}
  {{ article.title }}
{% endblock %}

{% block body %}
  <h1>{{ article.title }}</h1>
  <h2>{{ article.createdAt|date('d/m/Y') }}</h2>
  <p>{{ article.content }}</p>
{% endblock %}
