{% extends 'base.html.twig' %}

{% block body %}
  {{ parent() }}

  <h1>À propos</h1>

  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic fugit magni praesentium voluptatibus quam illo. Fuga praesentium, doloremque necessitatibus, est obcaecati, corporis voluptatem exercitationem eius quidem consequuntur et aut illum!</p>
  <p>Porro fugiat maiores iste, sed amet nesciunt expedita delectus ratione beatae accusamus consequuntur perferendis eligendi molestias! Delectus facilis quas nobis, consequatur a error illo officiis laudantium provident ducimus inventore vitae.</p>
  <p>Voluptatum, libero molestiae? Dicta sit quae beatae, praesentium eum explicabo nulla voluptas illum corporis reiciendis exercitationem, itaque dolorem maxime at laboriosam et blanditiis quia eius autem voluptatem, inventore aut aliquam!</p>
  <p>Maiores voluptatum totam quasi aut, dicta, odio non atque voluptates esse ducimus doloribus in sed accusantium itaque unde dolorem. Voluptas minima nulla vero vel? Enim eveniet odio molestiae sequi soluta.</p>
  <p>Deserunt nam reiciendis incidunt maiores, a quis voluptates molestiae! Eveniet explicabo beatae, facilis voluptate maiores deleniti temporibus iure voluptatum, nam, minus cum fugit voluptatem earum? Earum pariatur iste illo eaque?</p>
  <p>Aliquam reiciendis laudantium recusandae? Esse suscipit, pariatur dolorem explicabo nesciunt magni ex ea animi cumque alias aspernatur nisi, ab quidem quasi, excepturi corporis. Impedit, officiis totam sequi autem nisi optio!</p>
  <p>Non numquam veritatis ex temporibus, aliquid deleniti? Rem saepe tempora, aliquid repellendus commodi quidem voluptatibus unde dolorem minima ut eos tenetur! Inventore fugiat incidunt repellat porro aspernatur. Repellat, deserunt dignissimos.</p>
  <p>Ratione ea amet cum nobis assumenda vel eos nihil iste! Ratione quas beatae doloremque corrupti voluptatum soluta nobis eveniet eum, voluptas nulla! Suscipit labore illum distinctio. Quo animi beatae provident.</p>
{% endblock %}
